In [32]:
import requests
import pandas as pd

In [33]:
# Links to csv files
url_contador = 'https://datos.cdmx.gob.mx/dataset/07d5d501-66dc-4e3e-9d92-bfa163d21434/resource/8548607a-b0c0-4210-962e-1240f715b680/download/ciclista_nuevo.csv'
url_incidentes = ''

In [34]:
# Get data from the website
get_contador = requests.get(f'{url_contador}')
print(get_contador)

<Response [200]>

In [35]:
# Read content
content_contador = get_contador.content

In [36]:
# Create csv files
with open('contador-ciclistas.csv', 'wb') as file:
    file.write(content_contador)

In [38]:
contador = pd.read_csv('contador-ciclistas.csv')
contador

,Id,dia_de_la_semana,dia,mes,ano,contador_ruta_reforma222,contador_ruta_revolucion,contador_ruta_patriotismo
0,1,jueves,5,diciembre,2013,2516.0,NaN,NaN
1,2,lunes,9,diciembre,2013,2132.0,NaN,NaN
2,3,viernes,22,junio,2018,2913.0,980.0,1163.0
3,4,martes,10,julio,2018,2531.0,877.0,1013.0
4,5,sábado,7,julio,2018,1534.0,616.0,584.0
...,...,...,...,...,...,...,...,...
2520,2521,miércoles,24,febrero,2021,NaN,455.0,725.0
2521,2522,jueves,25,febrero,2021,NaN,491.0,774.0
2522,2523,viernes,26,febrero,2021,NaN,527.0,735.0
2523,2524,sabado,27,febrero,2021,NaN,457.0,753.0
2524,2525,domingo,28,febrero,2021,NaN,422.0,953.0